#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
#headtext {
  color: MediumAquamarine;
  padding: 10px;
}
#logoandtext {
  display: flex;
  margin-bottom:10px;
}
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.headlink {
  color: black;
  margin: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.column {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.column .large {
  width: 630px;
  display: flex;
  flex-direction: column;
}
.column .medium {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.column .small {
  width: 240px;
  display: flex;
  flex-direction: column;
}
div {
  margin-right: 15px;
}
#mainheadline {
  background-image: url("../images/story.png");
  width:629px;
  height:300px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  display: flex;
}
#otherstories {
  display: flex;
}
#orca {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#story2 {
  background-image: url("../images/story2.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#burger {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#story3 {
  background-image: url("../images/story3.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#story4 {
  background-image: url("../images/story4.png");
}
#story2, #story3, #story4 {
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
